.autora {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('./images/05.jpg') no-repeat center center/cover;
    margin: auto;
    padding: 8rem 1rem 0 1rem;
    width: 100%;
    color: white;
    margin-bottom: 5rem;
}

.autora .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.autora .container img {
    width: 30vw;
    align-self: center;
    justify-self: right;
}

.autora h2 {
    font-size: 3rem;
}


.autora p {
    color: white;
    padding: 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    text-align: justify;
    text-justify: inter-character;
}

.autora .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.autora button {
    margin-top: 1rem;
}

@media screen and (max-width:940px) {
    .autora .container {
        grid-template-columns: 1fr;
    }

    .autora .container {
        width: 100%;
    }

    .autora .container img {
        padding: 0rem;
        width: 90vw;
        justify-self: center;
    }

    .autora .container .col-2 {
        padding: 0;
    }

    .autora button {
        margin-bottom: 1rem;
    }
}